aws_region = "eu-central-1"

# if you changed bucket/table names in lesson-5, update these defaults in variables.tf too
remote_state_bucket = "maro-lesson-5-tfstate-12345"
remote_state_key    = "lesson-5/terraform.tfstate"

instance_types = ["t3.micro"]

eks_cluster_name    = "lesson-7-eks"
ecr_repository_name = "django-app"

node_desired_size = 2
node_min_size     = 2
node_max_size     = 6
